
p
{
	margin-left: 340px;
	font-size: 20px;
	color: #132464;
}
h1
{
	margin-left: 410px;
	color: #132464;
	font-family: Andalus;

}

table	
{
	
	font-size: 17px;
	margin-left: 300px;
	color: white;
	color: #132464;
	font-family: Comic Sans MS;
}
img	
{
	margin-left: 360px;
	width: 640px;
	height: 480px
}
